/* ---------- root variables ---------- */
:root {
  --blue: #2D4459;
  --light-brown: #F0ECE6;
  --white: #ffffff;
}

/* ---------- general styling ---------- */
html {
  color: var(--blue);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h2 {
  font-family: cantiga-condensed, sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  font-style: normal;
  text-align: left;
  margin: 2% 0 2% 0;
}

h3 {
  font-weight: 400;
  letter-spacing: 2px;
}

p {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.2em;
  margin: 1%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/*Burgermenu!*/

.burger {
  width: 40px;
  height: 5px;
  background-color: var(--blue);
  margin: 6px;
  border-radius: 2px;
}

#burgerbutton {
  color: var(--blue);
  padding: 12px;
  font-size: 16px;
  border: none;
  height: 20%;
}

#burgerdropdown {
  position: relative;
}

#burgercontent {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 290px;
  box-shadow: 20px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#burgercontent ul {
  display: flex;
  flex-direction: column-reverse;
  padding: 0%;
  flex-direction: column
}

#burgercontent a {
  color: var(--camino-blue);
  margin: 10%;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  text-align: left;
  text-transform: uppercase;
  font-family: cantiga-condensed, sans-serif;
  font-weight: 700;
  font-size: 1.7em;
}

#navbar ul {
  display: none;
}

#burgercontent li {
  list-style-type: none;
}

#allBurgerMenu {
  position: relative;
  height: 8%;
}

#MegaMenu {
  display: none;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  padding: 3%;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- Borgermøder ---------- */
.coming-soon {
  width: 100%;
  text-align: center;
  margin-top: 25%;
}

.coming-soon img {
  width: 50%;
}

.coming-soon h6 {
  margin: 3%;
  color: #cccccc;
} 

/* ---------- tab menu mobile ---------- */
.tab {
  overflow: hidden;
  background-color: var(--blue);
  border-left: 3px solid var(--blue);
  border-right: 3px solid var(--blue);
  border-top: 3px solid var(--blue);
  margin-top: 5%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 2px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
  color: var(--blue);

}

.tab button:focus {
  color: #2D4459;
  border-left: 3px solid var(--blue);
  border-right: 3px solid var(--blue);
  border-top: 3px solid var(--blue);
  background-color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 2px;
}

.tablinks {
  width: 20%;
  padding: 15px 2px;
  font-size: 1.1em;
  color: white;
}

#filtrer {
  width: 60% !important;
}

#tab_desktop {
  display: none;
}

#filtrering_desktop {
  display: none
}

#manchet_desktop {
  display: none;
}

/* ---------- styling filtrering og modal  ---------- */
.filtrering-wrap {
  width: 60%;
  margin: 5% 0 0 5%;
}

.filtrering-wrap select {
padding: 7% 65% 7% 3%;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 274px;
  height: 100%;
  width: 100%;
  /* Full width */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  bottom: 0;
  top: 10;
  background-color: #fefefe;
  width: 80%;
  height: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  margin-left: 17%;
  border-left: 3px solid var(--blue);

}

/* The Close Button */
.close {
  color: white;
  margin-top: 20%;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--blue);
  padding: 3% 35%;
}

.close:hover,
.close:focus {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}


.modal-content h4 {
  padding: 10% 0 3% 0;
  margin: 0;
  text-align: left;
  font-size: 1.2em;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- styling search mobil ---------- */
.search-mobile {
  margin-top: 3%;
  padding: 4% 58% 4% 0%;
  border: 2px solid var(--blue); 
}

.search-mobile::placeholder{
  color: var(--blue);
  padding-left: 13%;
}

.search-mobile::-webkit-search-cancel-button{
  margin-right:-190px;
}

.search-desktop {
  display: none;
}


/* ---------- styling høringer ---------- */

/*høringer posts  */
.flexContent {
  display: flex;
}

.display_none {
  display: none;
}

#info-boks {
  background-color: #2D4459;
  width: 32%;
  color: white;
  height: 100%;
}

#paddingInfo {
  padding: 4%;
  text-align: center;
}

#comments {
  justify-content: center;
}

#comments img {
  width: 20%;
  margin-right: 4%;
}

#paddingInfo h4 {
  font-weight: 300;
  margin: 5% 0;
}
#paddingInfo h3, h4, #comments {
  margin: 20% 0;
}


#typesTextBoks img {
  width: 30%;
}

#hoeringsImg {
  background-color: yellow;
  width: 100%;
}

.backgroundimg {
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

#hoeringContent {
  width: 100%;
  margin-top: 10%;
}

#textBoks {
  background-color: var(--light-brown);
  padding: 3%;
}

#textBoks h2 {
  font-size: 1.7em;
  margin: 0;
}

#textBoks h3 {
  font-size: 1.1em;
  font-weight: 700;
}

#textBoks p {
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

#typesTextBoks {
  width: 100%;
  display: flex;
  margin-top: 6%;
}

#location img {
  width: 7%;
  margin-right: 1%;
}

#location {
  width: 73%;
  display: inline-flex
}

#hearing {
  width: 45%;
  display: inline-flex
}

#hearing img {
  width: 12%;
  margin-right: 4%;
}

#typesTextBoks h3 {
  margin: 0%;
}

#header_img {
  display: none;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  margin-top: -5%;
}

@media (min-width: 600px) {

  #Kort img {
    width: 100%;
  }

}

@media (min-width: 768px) {

  .grid-container {
    grid-template-columns: 45% 45%;
    grid-gap: 4%;
  }

  #hoeringContent {
    margin: 5%;
  }

  .search-mobile {
    padding: 2.5% 79% 2.5% 0%;
    margin: 5% 0;
  }



}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 30% 30% 30%;
    margin-top: 1%;
    padding-top: 2%;
  }

  .grid-container>article {
    text-align: center;
    padding: 10px;
  }

  #textBoks h3 {
    font-size: 0.9em;
  }

  .grid-container>article img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1em;
  }

  iframe {
    border: none;
    width: 100%;
    height: 250px;
  }

  /* input form stryling */
  form {
    margin: auto;
  }

  form button {
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 12px 15px;
    font-size: 1em;
    border-radius: 0;
    color: #ffffff !important;
    background-color: rgb(38, 76, 89);
    width: 100%;
    max-width: 350px;
  }

  input,
  select {
    -webkit-appearance: none;
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    background: #fff;
    border: 2px solid var(--blue);
    border-radius: 0;
  }

  /* ---------- header styling ---------- */

  #hoeringer {
    padding-top: 10%;
  }

  #hoeringer img {
    width: 100%;
    display: block;
  }

  #hoeringContent img {
    width: 15%;
  }

   /* ---------- borgermøder og om hoeringsportal styling ---------- */
  .none {
    display: none;
  }

  .coming-soon {
    margin-top: 10%;
  }

  .coming-soon img {
    width: 30%;
  }

  /* ---------- filtrering styling ---------- */

  #filtrering_desktop {
    display: flex;
    margin-top: 15%;
  }

  #filtrering_desktop h4 {
margin: 0%;
text-align: left;
  }

  .filtrering-wrap select {
    padding: 5% 7% 5% 3%;
  }

  .search-mobile {
    display: none;
  }

  .search-desktop {
    display: block;
    position: relative;
    left: 220px;
    top: -80px;
    border: 5px solid white;
    border-bottom: 5px solid var(--blue);
  }

  .container {
    margin-top: 10%;
    width: 100%;
    height: 10%;
    position: absolute;
} 

  .search-desktop[placeholder="Søg i høringssager"] {
   font-family: cantiga-condensed, sans-serif;
   font-size: 1.3em;
  }


  /* ---------- tabbar styling ---------- */
  #BurgerMenu {
    display: none;
  }

  #MegaMenu {
    display: block;
    background-color: var(--blue);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: left;
  }

  #MegaMenu a {
    color: white;
    font-family: cantiga-condensed, sans-serif;
    font-size: 1.8em;
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
  }

  #MegaMenu a.active {
    background-color: white;
    color: var(--blue);
  }

  #tab_mobile {
    display: none !important;
  }

  #tab_desktop {
    display: block;
  }

  #manchet_mobile {
    display: none;
  }

  #manchet_desktop {
    display: block;
    padding: 7% 3%;
  }

  #manchet_desktop {
    background-color: var(--light-brown);
    position: relative;
    left: 40px;
    top: -280px;
    width: 40%;
  }
  
  #manchet_desktop h2 {
    font-size: 2em;
  }

  #Kort img {
    width: 40%;
  }

  #header_img {
    display: block;
  }


  .tab {
    width: 20%;
    float: right;
    margin: 0 0 5% 0;
  }

  .tab button {
    font-size: 1.4em;
  }

  .tablinks {
    width: 40%;
  }


}

@media (min-width: 1400px) {
  #filtrering_desktop h4 {
    padding-left: 5%;
  }
}